body {
    padding-top: 58px;
    font-family: 'Lato', sans-serif;
}

.clickable {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.fa-med {
    font-size: 12px;
}

.fa-small {
    font-size: 10px;
}

.text-outlined {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.section-title {
    font-size: 2em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    text-decoration: overline;
    font-variant: small-caps;
}