body { padding-top: 58px; }

.clickable {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.fa-small {
    font-size: 10px;
}
