<div id="portfolio">
  <h1 class="section-title">Portfolio</h1>
  <div class="container mt-2">
     <div id="carousel-portfolio"class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
           <li data-target="#carousel-portfolio" data-slide-to="0" class="active"></li>
           <li data-target="#carousel-portfolio" data-slide-to="1"></li>
           <li data-target="#carousel-portfolio" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
           <div class="carousel-item active">
              <a href="https://github.com/ondrejbenes/benys-list">
                  <img class="d-block w-100 rounded" src="../static/img/benys-todo-list.jpg" alt="Beny's TODO List">
              </a>
              <div class="carousel-caption d-none d-md-block">
                 <h5>
                    <span class="text-outlined">Beny's TODO List</span>
                 </h5>
                 <p class="text-outlined">Úkolníček, který podporuje třídění do kategorií, zálohování a akce typu Undo / Redo.</p>
              </div>
           </div>
           <div class="carousel-item">
              <a href="https://bitbucket.org/Ondrejb/bring-obama-back-rts-game">
                  <img class="d-block w-100 rounded" src="../static/img/bring-obama-back.jpg" alt="Bring Obama Back">
              </a>
              <div class="carousel-caption d-none d-md-block">
                 <h5>
                    <span class="text-outlined">Bring Obama Back</span>
                 </h5>
                 <p class="text-outlined">V této hře musí hráč správně nakoupit, rozmístit a ovládat jednotky (reprezentované žetony) tak, aby zničil nepřítele. Na vyběr jsou dvě historická období - moderní doba a starověký Řím.</p>
              </div>
           </div>
           <div class="carousel-item">
              <a href="https://github.com/ondrejbenes/final-exam-rpg">
                  <img class="d-block w-100 rounded" src="../static/img/final-exam.jpg" alt="Final Exam">
              </a>
              <div class="carousel-caption d-none d-md-block">
                 <h5>
                    <span class="text-outlined">Final Exam</span>
                 </h5>
                 <p class="text-outlined">Jednoduché RPG, ve kterém hráči musí porazit tři strážce klíčů. Klíči odemknou vstup do arény, kde je čeká Závěrečná zkouška.</p>
              </div>
           </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-portfolio" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Předchozí</span>
        </a>
        <a class="carousel-control-next" href="#carousel-portfolio" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Další</span>
        </a>
     </div>
  </div>
 </div>