{% extends '_base.html' %}
{% block content %}
<body>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Město</th>
            <th scope="col">Počet přístupů</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result[0] }}</td>
                <td>{{ result[1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br/>
<p><a href="/">Back to index</a></p>
</body>
{% endblock %}